<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="node-constellation tester.">
    <meta name="author" content="XadillaX">
    <title>node-constellation tester</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
</head>

<body style="margin-top: 10px">
<div class="container">
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">node-constellation</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/XadillaX/node-constellation" target="_blank">Fork on Github</a></li>
            </ul>
        </div>
    </div>

    <div class="jumbotron">
        <h1><small>Result:</small> {:con}</h1>
        <p>Calculate out which constellation one certain day is.</p>

        <p>
            Example:
<pre>/?day=1001&lang=en
/?day=1219&lang=zh-cn</pre>
        </p>

        <p>
            <a class="btn btn-lg btn-primary" href="https://github.com/XadillaX/node-constellation" target="_blank" role="button">Fork on GitHub &raquo;</a>
        </p>
    </div>

</div>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>
